@import "tailwindcss";

@theme{
     --color-primary: rgb(255,155,40)
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: whitesmoke
}
.badge{
  @apply  absolute rounded-full text-white text-sm font-semibold w-[20px] h-[20px] flex justify-center items-center -top-1 -right-3 border-2 border-white;
}
.link{
  @apply hover:bg-[rgba(255,155,40,0.7)]
}
.level_1_cat li:hover {
    @apply hover:bg-[rgba(255,155,40,0.4)]
}
