@import "tailwindcss";

@theme{
     --color-primary:  #f25252;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: whitesmoke
}
.badge{
  @apply  absolute rounded-full text-white text-sm font-semibold w-[20px] h-[20px] flex justify-center items-center -top-1 -right-3 border-2 border-white;
}
.link{
  @apply hover:bg-[#f2525299]
}
.level_1_cat li:hover {
    @apply hover:bg-[#f2525299] 
}
.link-footer{
  @apply hover:text-primary cursor-pointer
}
.grid-view{
  @apply min-w-[12.5vw] max-w-[15rem] shadow-lg flex justify-around flex-col items-center border-[1px] border-[#e5e5e5] transition-all duration-200 ease-in-out rounded-lg relative overflow-hidden -z-10 w-full h-[22rem];
}
.list-view{
  @apply min-w-full max-w-[100vw] shadow-lg flex justify-around flex-row items-center border-[1px] border-[#e5e5e5] transition-all duration-200 ease-in-out rounded-lg relative overflow-hidden -z-10 w-full h-[14rem] gap-5;
}
