@import "tailwindcss";

@theme{
     --color-primary:  #f25252;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: whitesmoke
}
.badge{
  @apply  absolute rounded-full text-white text-sm font-semibold w-[20px] h-[20px] flex justify-center items-center -top-1 -right-3 border-2 border-white;
}
.link{
  @apply hover:bg-[#f2525299]
}
.level_1_cat li:hover {
    @apply hover:bg-[#f2525299] 
}
.link-footer{
  @apply hover:text-primary cursor-pointer
}
.grid-view{
  @apply min-w-[12.5vw] max-w-[15rem] shadow-lg flex justify-around flex-col items-center border-[1px] border-[#e5e5e5] transition-all duration-200 ease-in-out rounded-lg relative overflow-hidden -z-10 w-full h-[22rem];
}
.list-view{
  @apply min-w-full max-w-[100vw] shadow-lg flex justify-around flex-row items-center border-[1px] border-[#e5e5e5] transition-all duration-200 ease-in-out rounded-lg relative overflow-hidden -z-10 w-full h-[14rem] gap-5;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    rgba(209, 213, 219, 0.35) 25%,
    rgba(209, 213, 219, 0.6) 37%,
    rgba(209, 213, 219, 0.35) 63%
  );
  background-size: 200% 100%;
  animation: shimmer 2s ease-in-out infinite;
}
/* fade-in.css */
.fade-in {
  animation: fadeInUp .5s ease-out both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}