@import "tailwindcss";

:root {
  --background-color: #ffffff;
  --text-color: #333333;
}
@theme {
  --color-primary: #f25252;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



body.dark {
  --background-color: #333333;
  --text-color: #ffffff;
}
.darkmode {
  @apply dark:bg-slate-900 dark:!text-white;
}
.custom-border{
    @apply border-[1px] border-[#e5e5e5]
}
.custom-btn {
  @apply p-2 shadow-md rounded-lg cursor-pointer transition-all duration-75 
         active:translate-y-[2px] active:bg-[#f1f1f1] 
         hover:text-blue-500 hover:bg-[#f7f7f7] 
         bg-white  ; 
}
.heading-1{
  @apply text-gray-700 font-[600] text-lg
}