@import "tailwindcss";

@theme{
     --color-primary:  #f25252;
     --color-secondary:  #1260cc;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.custom-border{
    @apply border border-[#e5e5e5]
}
.custom-btn {
  @apply p-2 shadow-md rounded-lg cursor-pointer transition-all duration-75 
         active:translate-y-0.5 active:bg-[#f1f1f1] 
         hover:text-blue-500 hover:bg-[#f7f7f7] 
         bg-white dark:bg-black dark:text-white dark:hover:bg-secondary dark:hover:text-white; 
}
.heading-1{
  @apply text-gray-700 font-semibold text-lg
}