
.swiper-slide-active .info h3{
    opacity: 1;
    right: 0;
}

.swiper-slide-active .info h1{
    opacity: 1;
    right: 0;
}

.swiper-slide-active .info p{
    transition-duration: 1.5s;
    opacity: 1;
    right: 0;
}

.swiper-slide-active .info .banner-link{
    transition-duration: 2s;
    opacity: 1;
    bottom: 0;
}