.product-item:hover > .discount-icons {
    left: 30px;
}
.product-item:hover > .right-icons {
    top: 10px;
}
/* .right-icons > .icon-hover:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
} */
/* .product-item::before{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    background: rgb(0,0,0,0.4);
}    */